.successPage {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2vmax;
}

.successPage > svg {
  font-size: 5vmax;
  color: rgb(6, 182, 6) !important;
}

.successPage > p {
  font-size: 2vmax;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.successPage > a {
  background: linear-gradient(
    to left bottom,
    var(--color-fc744a),
    var(--color-6e6b74)
  );
  padding: 1vmax 2vmax;
  width: 15vmax;
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.successPage > a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media screen and (max-width: 554px) {
  .successPage svg {
    font-size: 10vmax;
  }
  .successPage > p {
    font-size: 3vmax !important;
    text-align: center;
  }

  .successPage > a {
    width: 25vmax;
    font-size: 2vmax;
    padding: 1.5vmax 2.2vmax;
  }
}
