.speedDial {
  position: fixed;
  right: 4vmax;
  top: 1.5vmax;
  z-index: 5555558888888888888885555 !important;
}

.MuiButtonBase-root {
  width: 4vmax !important;
  height: 4vmax !important;
  background: white !important;
}

.speedIcon {
  width: 3vmax !important;
  height: 3vmax !important;
  border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -ms-border-radius: 100% !important;
  -o-border-radius: 100% !important;
}
.speedDial > :first-child {
  width: 3vmax !important;
  height: 3vmax !important;
  background: var(--color-242426) !important;
}

@media screen and (max-width: 700px) {
  .speedDial {
    right: 88%;
  }
  .MuiButtonBase-root {
    width: 7vw !important;
    height: 3vh !important;
    background: white !important;
  }

  .speedIcon {
    width: 80%;
    height: 80%;
    z-index: 5000000 !important;
  }
}
@media screen and (min-width: 1000px) {
  .speedDial {
    right: 2%;
  }
  .MuiButtonBase-root {
    width: 3.5vmax !important;
    height: 3.5vmax !important;
    background: white !important;
  }

  .speedIcon {
    width: 80%;
    height: 80%;
  }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
  .speedDial {
    right: 3vmax;
    top: 6vmax;
  }
  .MuiButtonBase-root {
    width: 3.5vmax !important;
    height: 3.5vmax !important;
    background: white !important;
  }

  .speedIcon {
    width: 80%;
    height: 80%;
  }
}
