.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.forgotPassword__box {
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.forgotPassword__box > h2 {
  width: 40%;
  font-size: 3vmax;
  font-weight: 500;
  color: var(--color-white);
  text-align: left;
}
.forgotPassword__box > h2 span {
  color: var(--color-ff3e04);
}

.forgotPassword__box > div > button {
  width: 50%;
  height: 3px;
  background: var(--color-ff3e04);
  border: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.changePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly !important;
  padding: 2vmax;
  margin: auto;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  background: var(--color-white);
  height: 60vh;
  width: 30%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.changePasswordForm > h3 {
  font-size: 1.6vmax;
  font-weight: 300;
  color: var(--color-black);
}

.changePasswordForm > div {
  display: flex;
  align-items: center;
}

.changePasswordForm > div input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  border: 1px solid var(--color-fc744a);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font: 300 0.9vmax cursive;
  outline: none;
  box-shadow: 0 0 0 transparent;
}

.changePasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  -webkit-transform: translateX(1vmax);
  -moz-transform: translateX(1vmax);
  -ms-transform: translateX(1vmax);
  -o-transform: translateX(1vmax);
  color: var(--color-fc744a);
  font-size: 1.6vmax;
}

.forgotPasswordBtn {
  border: none;
  background: var(--color-ff3e04);
  color: var(--color-242426);
  width: 100%;
  font: 300 0.9vmax cursive;
  padding: 0.8vmax;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.forgotPasswordBtn:hover {
  background: var(--color-6e6b74);
  color: var(--color-ff3e04);
}
.forgotPasswordBtn:focus {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

@media screen and (max-width: 700px) {
  .forgotPassword__box {
    width: 80vw;
    height: 80vh;
  }

  .forgotPassword__toggle {
    height: 5vmax;
    background: var(--color-242426);
  }
  .forgotPassword__toggle > p {
    font-size: 1.5vmax;
  }

  .changePasswordForm {
    padding: 5vmax;
  }

  .changePasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .loginForm > div > svg,
  .changePasswordForm > div > svg {
    font-size: 2.8vmax;
  }

  .loginForm > a {
    font-size: 1.5vmax;
  }

  .forgotPassword__box {
    flex-direction: column;
  }
  .forgotPassword__box h2 {
    width: 100%;
    text-align: center;
  }

  .forgotPasswordBtn {
    font-size: 2vmax;
  }
}
