.resetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.resetPassword__box {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.resetPassword__box > h2 {
  width: 45%;
  font-size: 3vmax;
  font-weight: 500;
  color: var(--color-white);
  text-align: left;
}
.resetPassword__box > h2 span {
  color: var(--color-ff3e04);
}

.ResetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly !important;
  padding: 2vmax;
  margin: auto;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  background: var(--color-white);
  height: 60vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ResetForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.ResetForm > div input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  border: 1px solid var(--color-fc744a);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font: 300 0.9vmax cursive;
  outline: none;
  box-shadow: 0 0 0 transparent;
}

.ResetForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  -webkit-transform: translateX(1vmax);
  -moz-transform: translateX(1vmax);
  -ms-transform: translateX(1vmax);
  -o-transform: translateX(1vmax);
  color: var(--color-fc744a);
  font-size: 1.6vmax;
}

.resetPasswordBtn {
  border: none;
  background: var(--color-ff3e04);
  color: var(--color-242426);
  width: 100%;
  font: 300 0.9vmax cursive;
  padding: 0.8vmax;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.resetPasswordBtn:hover {
  background: var(--color-white);
  color: var(--color-242426);
}
.resetPasswordBtn:focus {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

@media screen and (max-width: 700px) {
  .resetPassword__box {
    width: 80vw;
    height: 80vh;
  }

  .resetPassword__toggle {
    height: 5vmax;
    background: var(--color-242426);
  }
  .resetPassword__toggle > p {
    font-size: 1.5vmax;
  }

  .loginForm,
  .ResetForm {
    padding: 5vmax;
  }

  .loginForm > div > input,
  .ResetForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .loginForm > div > svg,
  .ResetForm > div > svg {
    font-size: 2.8vmax;
  }

  .resetPassword__box {
    flex-direction: column;
  }
  .resetPassword__box h2 {
    width: 100%;
    text-align: center;
  }

  .resetPassword__box > div {
    background: var(--color-242426);
  }

  .resetPasswordBtn {
    font-size: 2vmax;
  }
}
