.sidebar {
  background: var(--color-black);
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.sidebar > a:first-child {
  width: 100%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transform-origin: center;
}
.sidebar > a:first-child:hover {
  text-shadow: 0 1px 5px var(--color-ff3e04);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.sidebar .link {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  color: var(--color-white);
  padding: 2rem;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.8;
}
.sidebar a > p {
  display: flex;
  align-items: center;
}

.sidebar .link p > svg {
  color: var(--color-ff3e04);
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}
.sidebar .link:hover {
  color: var(--color-ff3e04) !important;
}
